.header{
    top: 0;
    padding: 3vh;
    width: 100vw;
    position: fixed;
    max-height: 3vh;
    display: flex;
    background-color: #6cf395;
    .hamburger{
        height: 5vh;
    }
}

@media (min-width: 600px){
    .header{
        padding: 1vh;
        max-height: 10vh;
    }
}