.cards{
    margin: 8px;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}
.card{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    min-height: 10vh;
    max-width: 90vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
    display: flex;
    flex-grow: 5;
    flex-direction: column;
    .quote{
        color:#6cf395;
        overflow: hidden;
        white-space: nowrap;
        padding: 10px 5px 0px 5px;
        text-overflow: ellipsis;
    }
    .info{
        display: flex;
        padding: 10px 5px 5px 5px;
    }
    .author{
        color:#6cf395;
    }
    .rating-pos{
        color:#6cf395;
        font-size: 14px;
        margin-left: auto;
    }
}

@media (min-width: 600px){
    .card{
        max-width: 250px;
        height: 12vh;
    }
    .cards{
        margin: 0 0 0 12vw;
    }
}